<div class="container">
            <div class="row">
                <section class="main col-md-9">
                    <article>
                        <h1>About</h1>
                        <p>
                            PopSwap is a marketplace where collectors can buy, sell, and trade PopMart figures, Pokémon cards, and other gacha items. Whether you're looking to complete your collection or find a new treasure, PopSwap is the place to trade your favorite collectibles!
                        </p>
                    </article>
                </section>
            </div>
        </div>