head, body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
}

td,th {
    text-align: center !important;
    font-size: larger;
}

.btn {
    display: inline-block;
}

.button-container {
    display: flex;
    justify-content: right;
    margin: 10px 0;
}

.pull-right {
    left: auto;
}

@font-face {
    font-family: 'POP MART Font';
    src: url('../fonts/DIN\ Web\ W07\ Cond\ Black.ttf');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand, .navbar-nav, h1, h2, h3, h4 {
    font-family: 'POP MART Font' !important;
}